.body {
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}

.container {
  display: grid;
  grid-template-areas:
    'nav'
    'header'
    'main'
    'footer';
  grid-template-rows: auto auto 1fr 36px;
  align-items: center;
  min-height: 100vh;
}

.logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  grid-area: header;
  width: 100vw;
  background-color: #fff;
  z-index: 100;
  position: relative;
  top: 0;
  left: 0;
}

.main {
  grid-area: main;
  flex: 1;
}

.header,
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.footer {
  grid-area: footer;
  justify-self: center;
  margin-top: 40px;
}

.title_full_width {
  /*background-color: #dddddd;*/
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  margin: 50px 0 30px;
}

.title_with_image {
  width: 55%;
  display: flex;
  justify-content: space-between;
}

.title_image_block {
  background-color: #797979;
  height: 300px;
  width: 550px;
}

.header_main_word {
  font-size: 130px;
  font-family: 'Times New Roman', Times, serif;
  margin: 0 0 40px;
  line-height: 1;
}

.text_without_image_block {
  margin: 50px;
  background-color: #fff1e8;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text_without_image_block_white {
  margin: 0 0 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text {
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 40rem;
}

.text_pink {
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 40rem;
  margin-top: 30px;
}

.text:first-of-type {
  margin-top: 0;
}

.text_right {
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 40rem;
  /*text-align: right;*/
}

.figcaption {
  font-size: 1rem;
  line-height: 1.6;
  max-width: 40rem;
  text-align: center;
  font-style: italic;
  color: #5c5c5c;
  margin-top: 10px;
}

.text_right:first-of-type {
  margin-top: 0;
}

.text_with_image_block {
  width: 65%;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.text_with_image_block_reverse {
  width: 65%;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin: 100px 0 50px;
}

.image_block {
  background-color: #797979;
  height: 300px;
  width: 550px;
}

.docs_list {
  margin: 80px 0;
  width: 65%;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #797979;
}

.doc_item {
  margin: 20px;
}

.a {
  color: #2285e0;
}

.img_form {
  width: 550px;
  height: 496px;
  box-shadow: 0 0 20px #949494;
  cursor: pointer;
  transition: transform 0.5s;
  transition: box-shadow 0.5s;
}

.img_form:hover {
  box-shadow: 0 0 30px #949494;
  transform: scale(1.02);
}

.two_column {
  width: 60%;
  column-count: 2;
}
